/*
    Name: Evan Reed
    Class: Web Dev 1
    Date: 6/29/2024
*/
:root {
    --primary: #c91b13ff;
    --secondary: #ffc600ff;
    --lightAccent: #006fbfff;
    --lightAccentBlur: rgba(0, 111, 191, 0.39);
    --darkAccent: #0a50b7ff;
    --text: #2E394B;
}

/*Common Theme Styles*/
* {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--lightAccentBlur);
}

/*Phone Styles width < 480px */
@media screen and (max-width: 480px) {
    .standardHeader {
        display: none;
    }

    .mobileHeader {
        background-color: var(--primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobileHeader img {
        width: 65px;
        margin: 15px;
    }

    .mobileNav .dropdown {
        overflow: hidden;
        margin-right: 40px;
    }

    .mobileNav .dropdown .dropbtn {
        font-size: 16px;
        font-weight: 600;
        border: solid 2px var(--text);
        border-radius: 8px;
        outline: none;
        color: var(--text);
        padding: 5px 8px;
        background-color: inherit;
        font-family: inherit;
    }

    .mobileNav a:hover,
    .dropdown:hover .dropbtn {
        background-color: var(--darkAccent);
        color: white;
    }

    .mobileNav .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--lightAccent);
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .mobileNav .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .mobileNav .dropdown-content a:hover {
        background-color: var(--darkAccent);
    }

    .mobileNav .dropdown:hover .dropdown-content {
        display: block;
    }

    section {
        text-align: center;
        margin: 10px;
        padding: 5% 20%;
        border-radius: 10px;
    }

    section img {
        max-width: 250px;
        padding: 0;
    }

    section ul {
        list-style-type: none;
    }

    #About {
        background-color: var(--secondary);
    }

    #Attractions {
        background-color: var(--primary);
    }

    #Hotels {
        background-color: var(--secondary);
    }
}

/*Phone styles width > 480px */
@media screen and (min-width: 481px) {


    .standardHeader {
        display: none;
    }

    .mobileHeader {
        background-color: var(--primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobileHeader img {
        width: 100px;
        margin: 15px;
    }

    .mobileHeader h1 {
        font-size: 45px;
    }

    .mobileNav .dropdown {
        overflow: hidden;
        margin-right: 40px;
    }

    .mobileNav .dropdown .dropbtn {
        font-size: 20px;
        font-weight: 600;
        border: solid 2px var(--text);
        border-radius: 8px;
        outline: none;
        color: var(--text);
        padding: 5px 8px;
        background-color: inherit;
        font-family: inherit;
    }

    .mobileNav a:hover,
    .dropdown:hover .dropbtn {
        background-color: var(--darkAccent);
        color: white;
    }

    .mobileNav .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--lightAccent);
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .mobileNav .dropdown-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .mobileNav .dropdown-content a:hover {
        background-color: var(--darkAccent);
    }

    .mobileNav .dropdown:hover .dropdown-content {
        display: block;
    }

    section {
        text-align: center;
        margin: 10px;
        padding: 5%;
        border-radius: 10px;
    }

    section h3 {
        font-size: 35px;
        margin-bottom: 2%;
    }

    section img {
        max-height: 200px;
        padding: 0;
    }

    section ul {
        list-style-type: none;
    }

    #About {
        background-color: var(--secondary);
    }

    #Attractions {
        background-color: var(--primary);
    }

    #Hotels {
        background-color: var(--secondary);
    }
}

@media screen and (min-width: 768px) {
    .mobileHeader {
        display: none;
    }

    .standardHeader {
        background-color: var(--primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .standardHeader img {
        height: 150px;
        margin: 25px;
    }

    .standardHeader h1 {
        font-size: 50px;
    }

    .standardHeader a {
        text-decoration: none;
        font-size: 20px;
        color: var(--text);
        padding: 5px 8px;
        border-radius: 10px;
    }

    .standardHeader a:hover {
        background-color: var(--lightAccent);
        color: white;
    }

    section {
        padding: 2%;
        display: inline;
        width: 44%;
        margin: 1%;
        float: left;
    }
    section h3{
        font-size: 40px;
    }
    section img {
        max-height: 100px;
    }

    #Hotels {
        width: 95%;
        height: 100%;
        margin-right: 10px;
    }
}